<!--
    projects.ejs
    This content view displays a brief biography of myself
    @author Spence McComb - 100426427
    @version 1.0
    @since 2020/04/04
-->

<!-- Main Content -->
<div class="row">
    <div class="col">
        <div class="jumbotron" id="contentArea">
            <h1 class="display-4">About Me</h1>
            <p>
                I'm a 27-year-old student studying Computer Programming through Durham College. I've dabbled in many different facets of
                higher education (Music and Chemistry, to name a couple), but over the years I've found programming to be the area I'm most fond
                of. When I'm not studying and completing coursework, I can be found working on other some of my other hobbies; I enjoy streaming 
                video games to a small audience through <a href="https://www.twitch.tv/ludigamez">Twitch</a>, and actively writing and performing 
                <a href="https://open.spotify.com/artist/2V5J3hV9rOzV5auSNbcoJZ">music</a>. 

            </p>
            <img src="/Assets/Me.png" class="center"></img>
            <p><br/>
                In terms of my profession, I specialize in C# and JavaScript development. These, of course, are not the only languages I'm
                familiar with; I'm also proficient with Java, COBOL, Python, C++, and HTML.
            </p>
        </div>
    </div>
</div>

    