<!--
    contact.ejs
    This content view displays a list of business contacts
    @author Spence McComb - 100426427
    @version 1.1
    @since 2020/04/17
-->

<!-- Main Content -->
<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
          <div class="jumbotron" id="contentArea">
              <h1 class="display-4">Business Contacts</h1>
              <div id="errorMessage" class="alert alert-danger">
                This is where the error message goes...
              </div>


              <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="th-sm">Name
                    </th>
                    <th class="th-sm">Contact Number
                    </th>
                    <th class="th-sm">Email Address
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ashton Cox</td>
                    <td>905-404-1123</td>
                    <td>ash1144@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Garrett Winters</td>
                    <td>416-171-8890</td>
                    <td>winters12322@hotmail.com</td>
                  </tr>
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>289-444-4718</td>
                    <td>tigern@gmail.com</td>
                  </tr>
                </tbody>
              </table>

              <button id="addButton" type="submit" class="btn btn-primary">Add</button>
          </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <aside>
          
        <!-- My contact info -->
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Social Media</h5>
            <p class="card-text">My Connections:</p>
            Facebook : <a href="https://www.facebook.com/suspence.william"><i class="card-link fab fa-facebook-square"></i></a>
            LinkedIn : <a href="https://www.linkedin.com/in/spencemccomb/"><i class="card-link fab fa-linkedin"></i></a>
            Instagram: <a href="https://www.instagram.com/ludigamez/"><i class="card-link fab fa-instagram"></i></a>
            <br/>
            Phone: 289-404-7182
          </div>
        </div>
      </aside>
    </div>
</div>
