<!--
    projects.ejs
    This content view displays the current projects I am working on
    @author Spence McComb - 100426427
    @version 1.0
    @since 2020/04/04
-->

<!-- Main Content -->
<div class="row">
    <div class="col">
          <div class="jumbotron" id="contentArea">
              <h1 class="display-4">Current Projects</h1>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Course</th>
                    <th scope="col">Collaborators</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody id="projectsTableBody">
                  <tr>
                    <td>1</td>
                    <td><img src="/Assets/Durak.JPG" class="center" width=100%></img></td>
                    <td>Durak Card Game</td>
                    <td>OOP 4200</td>
                    <td>Evan Heath, Thomas Parro, Hamza Khan</td>
                    <td>A C#-based application that runs the popular Russian card game "Durak".</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td><img src="/Assets/Store.jpg" class="center" width=100%></td>
                    <td>Store Inventory Separator</td>
                    <td>MAFD 4202</td>
                    <td>Evan Heath</td>
                    <td>
                      A 4-part COBOL program designed to separate an input data file into several different files based on
                      the data within.
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td><img src="/Assets/Database.jpeg" class="center" width=100%></td>
                    <td>Hospital Database Redesign</td>
                    <td>DBAS 5206</td>
                    <td>Evan Heath, Hamza Khan, Evan Palmer</td>
                    <td>
                      The listed team (including myself) is working on redesigning the entire database infrastructure for
                      a Vancouver-based hospital. This is a very involved project requiring hours of requirements gathering
                      and implementation of particular design methodologies. The database is run through the SQL Server DBMS.
                    </td>
                  </tr>
                </tbody>
              </table>
              
          </div>
    </div>
</div>

