<!--
    services.ejs
    This content view displays the services I am able to offer
    @author Spence McComb - 100426427
    @version 1.0
    @since 2020/04/04
-->

<!-- Main Content -->
<div class="row">
    <div class="col">
        <div class="jumbotron" id="contentArea">
            <h1 class="display-4">Available Services</h1>

            <div class="row mt-5 justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Assets/Website.webp" alt="Website Design">
                    <div class="card-body">
                        <h5 class="card-title">Website Design</h5>
                        <p class="card-text">
                            Like what you see here? If you're looking for a website of your own, I'm able to provide a custom-tailored site
                            to your specifics.
                        </p>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Application Development</h5>
                        <p class="card-text">
                            I've worked in several different environments and am comfortable with industry-standard collaboration methods.
                            If your team is looking to take on a junior programmer with a friendly, positive attitude, I'm available for hire.
                        </p>
                    </div>
                    <img class="card-img-bottom" src="/Assets/Programming.jpeg" alt="Application Development">
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Assets/Pi.jpg"  alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Micro Computing</h5>
                        <p class="card-text">
                            I've done lengthy volunteer intern stint at a small-scale software development company, focusing on microcontrollers
                            and microprocessors. I've worked extensively with Arduinos and Raspberry Pis and would be glad to offer my services
                            in this area.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

