<!--
    error.ejs
    Error information
    @author Spence McComb - 100426427
    @version 1.0
    @since 2020/04/04
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
